@using System.Globalization
@using Microsoft.AspNetCore.Identity
@using ModernMarketTM.Models
@using ModernMarketTM.Web.Constants
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" href="/logo.ico" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/css/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>
<body style="background: #EEEEEC">
    <div class="navbar-light">
        <nav class="navbar navbar-expand navbar-light" style="background: #FFFFFF">
            <div class="navbar-brand">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                    <img style="width: 50px" src="https://www.androidpolice.com/wp-content/uploads/2015/05/nexus2cee_not-giant-enough-letter-m.jpg" />
                    <img style="width: 50px" src="https://www.androidpolice.com/wp-content/uploads/2015/05/nexus2cee_not-giant-enough-letter-m.jpg" />
                    <img style="width: 50px" src="http://static1.squarespace.com/static/55ad3c98e4b0550249eac46a/t/56f344e701dbaef178d1e73d/1534617081037/" />
                </a>
            </div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <form class="form-inline" method="get" asp-controller="Searching" asp-action="Result">
                        <input class="form-control mr-sm-2" type="search" placeholder="Какво търсите днес?" name="searchTerm" aria-label="Search">
                        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Търсене</button>
                    </form>
                </li>
                <li class="nav-item active"><a class="nav-link ml-2" asp-page="/About">За нас</a></li>
                @if (this.User.IsInRole(RolesConstants.Admin))
                {
                    <li class="nav-item active"><a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">Админ</a></li>
                }
                @if (this.User.IsInRole(RolesConstants.Supplier))
                {
                    <li class="nav-item active"><a class="nav-link" asp-area="Supplier" asp-page="/Supply/Index">Доставчик</a></li>
                }
                @if (this.User.IsInRole(RolesConstants.Operator))
                {
                    <li class="nav-item active"><a class="nav-link" asp-area="Operator" asp-controller="Home" asp-action="Index" >Оператор</a></li>
                }
            </ul>

            @if (SignInManager.IsSignedIn(User))
            {
                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="form-inline">
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                        <li class="nav-item active"><a class="nav-link" asp-area="" asp-controller="Cart" asp-action="Index"><i class="fas fa-shopping-cart mr-1"></i>Количка</a></li>
                        @{
                            var user = await UserManager.GetUserAsync(User);
                            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Здравей, @user.FullName!</a>
                        }
                        </li>
                        <li class="nav-item">
                            <button type="submit" class="btn btn-link navbar-btn nav-link">Излез</button>
                        </li>
                    </ul>
                </form>
            }
            else
            {

                <ul class="navbar-nav">
                    <li class="nav-item active"><a class="nav-link" asp-area="" asp-controller="Cart" asp-action="Index"><i class="fas fa-shopping-cart mr-1"></i>Количка</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Регистрация</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Влез</a></li>
                </ul>
            }
        </nav>
    </div>
    @{
        var now = DateTime.UtcNow;
        var date = DiscountsContants.DiscountDateToBeParsed;
        var discoutDate = DateTime.ParseExact(date, CommonConstants.DateTimeParseFormat, CultureInfo.InvariantCulture);
        if (now < discoutDate)
        {
            <div class="text-center alert alert-warning h5" role="alert">
                <strong>Здравейте!</strong> Получавате 10% отстъпка на всички продукти до @DiscountsContants.DiscountDate
            </div>
        }
    }
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.UtcNow.Year - Private Modern Market TM</p>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
