@model UserViewModel


<tr>
    <td>@Model.UserName</td>
    <td>@Model.Email</td>
    <td>@Html.DisplayFor(model => Model.IsSupplier)</td>
    <td>@Html.DisplayFor(model => Model.IsAdmin)</td>
    <td>@Html.DisplayFor(model => Model.IsOperator)</td>
    <td>
        <a asp-area="Admin" asp-controller="Users" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-info">Детайли</a>
        @if (!Model.IsAdmin)
        {
            if (!Model.IsSupplier)
            {
                <a asp-area="Admin" asp-controller="Users" asp-action="MakeSupplier" asp-route-id="@Model.Id" class="btn btn-success">Направи доставчик</a>
            }
            else
            {
                <a asp-area="Admin" asp-controller="Users" asp-action="RemoveSupplier" asp-route-id="@Model.Id" class="btn btn-success">Премахни доставчик</a>
            }
            if (!Model.IsOperator)
            {
                <a asp-area="Admin" asp-controller="Users" asp-action="MakeOperator" asp-route-id="@Model.Id" class="btn btn-primary">Направи оператор</a>
            }
            else
            {
                <a asp-area="Admin" asp-controller="Users" asp-action="RemoveOperator" asp-route-id="@Model.Id" class="btn btn-primary">Премахни оператор</a>
            }
            <a asp-area="Admin" asp-controller="Users" asp-action="ChangePassword" asp-route-id="@Model.Id" class="btn btn-warning mt-1">Парола</a>
            if (!Model.IsBanned)
            {
                <a asp-area="Admin" asp-controller="Users" asp-action="Ban" asp-route-id="@Model.Id" class="btn btn-danger">Забрана</a>
            }
            else
            {
                <a asp-area="Admin" asp-controller="Users" asp-action="UnBan" asp-route-id="@Model.Id" class="btn btn-danger mt-1">Махане на забрана</a>
            }
        }
    </td>
</tr>
