@using ModernMarketTM.Web.Constants
@model UserDetailsViewModel
@{
    ViewData["Title"] = $"Детайли за {Model.UserName}";
}

<h2 class="mt-3">@ViewData["Title"]</h2>

<ul class="list-group mt-3">
    <li class="list-group-item"><strong>Номер:</strong> @Model.Id</li>
    <li class="list-group-item"><strong>Потребителско име:</strong> @Model.UserName</li>
    <li class="list-group-item"><strong>Цяло име:</strong> @Model.FullName</li>
    <li class="list-group-item"><strong>Забрана:</strong> @(Model.IsBanned ? "Да" : "Не")</li>
    <li class="list-group-item">
        <strong>Роли:</strong>
        <ul>
            <li>Потребител</li>
            @foreach (var role in Model.Roles)
            {
                if (role == RolesConstants.Supplier)
                {
                    <li>Доставчик</li>
                }
                else if (role == RolesConstants.Admin)
                {
                    <li>Админ</li>
                }
                else if (role == RolesConstants.Operator)
                {
                    <li>Оператор</li>
                }
            }
        </ul>
    </li>
</ul>

