@model OrdersViewModel

<tr>
    <td>@Model.Id</td>
    <td>@Model.Price</td>
    <td>@Model.Date.ToShortDateString()</td>
    <td>@Model.Status</td>
    <td>
        <a asp-controller="Orders" asp-action="About" asp-route-id="@Model.Id" class="btn btn-info">Детайли</a>
    </td>
</tr>